/*Imported Fonts */
@font-face {
    font-family: 'Arimo';
    src: url("../../projects/frontend/prj_website_design_system/fonts/Arimo/Arimo-VariableFont_wght.ttf") format('truetype');
}
@font-face {
    font-family: "Playfair Display";
    src: url("../../projects/frontend/prj_website_design_system/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
}
@font-face {
    font-family: "Lato";
    src: url("../../projects/frontend/prj_website_design_system/fonts/Lato/Lato-Regular.ttf")
}

/* General Styles */
html {
    font-family: Arimo, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: hsla(171, 20%, 10%, 1);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: hsla(171, 30%, 25%, 1);
}

a:hover {
    text-decoration: underline;

}

h1 {
    font-weight: 700;
    font-size: 50px;
    color: hsla(171, 25%, 15%, 1);
}

ul {
    list-style-type: none;
}

/* Header Styles */


/* Nav Styles */
nav {
    background-color: hsla(171, 70%, 75%, 1);
    color: rgb(17, 29, 28);
    position: fixed;
    top: 0;
    width: 40%;
    height: 60px;
    border: 2px solid hsla(171, 30%, 25%, 1);
    top: 0;
    left: 30%;
}

p {
    font-size: 26px;
    font-family: "Playfair Display";
}

.banner li {
    display: inline;
    margin: 8px;
    text-transform: uppercase;
    padding: 5px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

li.here {
    background-color: hsla(171, 70%, 75%, 1);
    text-decoration: underline;
}

/* Section Styles */
section {
    position: relative;
    display: inline-block;
    right: 15%;
    margin-top: 80px;
    text-align: left;
}

.introduction p {
    padding-left: 10px;
}

/* Footer Styles */
footer {
    font-family: "Playfair Display";
    background-color:hsla(171, 70%, 75%, 1);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    border: 1px solid hsla(171, 30%, 25%, 1);
}
