@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Playfair Display";
    src: url("fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}



html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    border: 2px solid #999999;
    display: block;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(5, 32, 150);
}

a:visited {
    color: rgb(128, 0, 0);
}

.title {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.color-panel {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-right: 20px;
}

.font-panel {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
    border: 0;
}

.style-panel {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
    border: 0;
}

.font-title {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

#night-grey {
    background-color: rgb(4, 4, 19);
    color: white;
}

#scarlet {
    background-color: rgb(128, 0, 0);
    color: white;
}

#gold-leaf {
    background-color: rgb(156, 156, 16);
    color: black;
}

#deep-blue {
    background-color: rgb(5, 32, 150);
    color: white;
}

#arimo {
    font-family: Arimo;
}

#playfair-display {
    font-family: "Playfair Display";
}

#head1 p {
    font-weight: 700;
    font-size: 28px;
    font-family: Arimo;
}

#head2 p {
    font-weight: 500;
    font-size: 22px;
    font-family: Arimo;
}

#para p {
    font-weight: 400;
    font-size: 18px;
    font-family: "Playfair Display";
}

.sampletitle {
    border: 0;
}

.sample {
    background-color: rgb(4, 4, 19);
    color: rgb(156, 156, 16);
}

.sample h1 {
    font-weight: 700;
    font-size: 28px;
    font-family: Arimo;
}

.sample h2 {
    font-weight: 500;
    font-size: 22px;
    font-family: Arimo;
}

.sample p {
    font-weight: 400;
    font-size: 18px;
    font-family: "Playfair Display";
}

