@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Playfair Display";
    src: url("fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: Lato;
    src: url("fonts/Lato/Lato-Regular.ttf");
    src: url("fonts/Lato/Lato-Bold.ttf");
    src: url("fonts/lato/lato-italic.ttf");
}



html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    border: 2px solid #999999;
    display: block;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a, a:visited {
    color: hsla(171, 50%, 25%, 1);
}

.title {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.color-panel {
    display: inline-block;
    width: 400px;
    text-align: center;
    margin-right: 20px;
}

.font-panel {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
    border: 0;
    font-size: 24px;
}

.style-panel {
    display: inline-block;
    width: 400px;
    margin-right: 20px;
    border: 0;
}

.font-title {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 28px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

#teal {
    background-color: hsla(171, 100%, 30%, 1);
    color: black;
}

#soft-teal {
    background-color: hsla(171, 70%, 75%, 1);
    color: black;
}

#bold-teal {
    background-color: hsla(171, 50%, 25%, 1);
    color: white;
}

#eggshell {
    background-color: hsla(171, 30%, 85%, 1);
    color: black;
}

#font1 {
    font-family: Arimo;
}

#font2 {
    font-family: "Playfair Display";
}

#font3 {
    font-family: Lato;
}

#head1 p {
    font-weight: 700;
    font-size: 40px;
    font-family: Arimo;
}

#head2 p {
    font-weight: 500;
    font-size: 32px;
    font-family: Arimo;
}

#para p {
    font-weight: 400;
    font-size: 24px;
    font-family: "Playfair Display";
}

.sampletitle {
    border: 0;
}

.sample {
    background-color: hsla(171, 30%, 85%, 1);
    color: black;
}

.sample h1 {
    font-weight: 700;
    font-size: 40px;
    font-family: Arimo;
    color: hsla(171, 100%, 30%, 1);
}

.sample h2 {
    font-weight: 500;
    font-size: 32px;
    font-family: Arimo;
}

.sample p {
    font-weight: 400;
    font-size: 24px;
    font-family: "Playfair Display";
}

